{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<img style="margin: 20px auto 20px auto; display: block; width: 300px; height:200px" src="{% static '삼육대.jpg'%}" class="img-fluid" alt="Responsive image">
{% for blog in posts %}
<div style="margin:30px auto 30px auto; display: block" class="container" >
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date}}</h6>
    <p class="card-text">{{blog.summary}}</p>
    <a href="{% url 'detail' blog.id %}" class="card-link">..more</a>
    </div>
    </div>
</div>
{% endfor %}

{#First Previews 3of4 Next Last#}

{#first previous#}
{% if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}
{#3of4#}
<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>
{#Next Last#}
{% if posts.has_next%}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}
{% endblock %}
